*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
img {
  width: 100%;
}
button {
  background: #039dfc;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 2rem;
  transition: all 0.1s ease;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

button:not(:last-of-type) {
  margin-right: 1.5rem;
}
button:hover {
  cursor: pointer;
}
button:active {
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
button:disabled {
  background-color: #333;
  box-shadow: none;
  transform: translateY(0);
  cursor: default;
}

body {
  padding-inline: 2rem;
  background-color: #333;
}

.logo {
  display: block;
  width: 20rem;
  margin: 2rem auto;
}

h2 {
  font-size: 2.5rem;
  color: #039dfc;
  margin-bottom: 2rem;
}
h3 {
  color: #039dfc;
}
.container {
  display: flex;
  justify-content: center;
}

.video-container,
.remote-container {
  margin-top: 4rem;
  margin-inline: auto;
}

.row {
  font-size: 3rem;
}
